body{
  background-image: url(./images/logos4.jpg);
  background-repeat: repeat;
  margin: 0px auto;
  float: left;
  padding: 0px;
}

.encabezado1 {
  background-color: black;
  height: 100px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 0.5px white;
}
.container{
  width: 100%;
}


.ingresaryregistrar {
  color: white;
  float: right;
  margin-right: 60px;
  margin-top: 70px;
  font-size: 120%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.imagenlogo {
  text-align: left;
  float: left;
  margin: -90px 0px 60px 30px;
}

.barrainicio {
  width: 100%;
  height: 80px;
}

.iniciohorizontal{
  list-style:none;
  display:flex;
  justify-content: space-between;
}

.iniciohorizontal  li {
  display: block;
  
  color: rgb(0, 0, 0);
  text-decoration:none;
  font-size: 23px;
}

.iniciohorizontal  li:hover{
  background-color: rgb(250, 255, 0);
  opacity:90%;
}

.iniciohorizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical{
  position: absolute;
  display: none;
  list-style:none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.832);
}

.menu-vertical li:hover{
  background-color:rgba(196, 196, 196, 0.67)
}

.menu-vertical li a{
  display: block;
  color:rgb(255, 238, 86);
  font-size: 15px;
  text-decoration:none;
  text-align: left;
  text-align: justify;
}

.ingredientes-barra{
  position: absolute;
  display: none;
  list-style:none;
  width: 100px;
  background-color: rgba(240, 234, 71, 0.832);
}

.iniciohorizontal li:hover .ingredientes-barra{
  display: block;
}

.ingredientes-barra li:hover{
  background-color:rgb(209, 209, 209)
}

.ingredientes-barra li {
  display: block;
  color:rgb(0, 0, 0);
  font-size: 15px;
  text-decoration:none;
  text-align: left;
  text-align: justify;
}

.autores{
  position: absolute;
  display: none;
  list-style:none;
  width: 100px;
  background-color: rgba(240, 234, 71, 0.832);
}

.iniciohorizontal li:hover .autores{
  display: block;
}

.autores li:hover{
  background-color:rgb(164, 164, 164);
}

.autores li {
  display: block;
  color:rgb(0, 0, 0);
  font-size: 15px;
  text-decoration:none;
  text-align: left;
  text-align: justify;
}

.backgroundimage2{
  background-image: url(./images/cocina1.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
  box-shadow: -10px 10px 20px 2px rgba(0, 0, 0, 0.849);  
  border: 1.5px solid rgb(95, 70, 42);
}

.encabezadoRecetario{
  width: 100%;
  height: 120px;
  background-size: cover;
  background-image: url(./images/tablon.jpeg);
  background-repeat: no-repeat;
  box-shadow: -10px 10px 20px 2px rgba(0, 0, 0, 0.849); 
  border: 1.5px solid rgb(95, 70, 42);
}
.textoRecetario{
  margin-top: 0px;
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: "New Tegomin", serif;
  text-shadow: rgb(126, 119, 45) 2px 2px 2px;
}

.contenido{
  font-size: 13px;
  padding: 12px;
  justify-content: flex-start;
  box-sizing: border-box;
}

.receta {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-shadow: rgb(102, 102, 16) 1px 1px 1px;
  background-color: rgb(14, 14, 14);
  box-shadow: -10px 10px 20px 2px black;
  color: rgb(250, 240, 101);
  width:90%;
  height: 530px;
  display: flex;
  left: 20px;
  position: relative;
  bottom: -30px;
}



.imagenes2 {
  position: relative; 
   float: left; 
  z-index: 5;
  margin-top: -82%;
}

.tituloReceta {
  font-size: 40px;
  font-family: "New Tegomin", serif;
  background-color: yellow;
/*   background-size: 506px;
 */  position: relative;
  z-index: 0;
  margin: 0px;
  padding: 0%;
  text-align: center;
  text-shadow: rgb(109, 109, 33) 3px 3px 3px;
  color: black;
    width: 100%;
    height: 100%;
    
  }

.imagenfondo2{
  margin-top: 5%;
  margin-left: 20%;
}  

.casita{
/* position: relative; */
background-color: yellow;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

 .tablones2 {
  width:100%;
  height: 600px;
  background-image: url(./images/tablon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  box-shadow: -10px 10px 20px 2px rgba(0, 0, 0, 0.849);
  border: 1.5px solid rgb(95, 70, 42);
} 

.cuerditas{
 margin: 0 auto;
 filter: drop-shadow(-5px 0px 7px #000000ea);
 z-index: -2;
 width: 100%;
  height: 150px;
  margin-bottom: -4px;
}
.cuerditas2{
  margin: 0 auto;
  filter: drop-shadow(-5px 0px 7px #000000ea);
  z-index: -2;
  width: 100%;
   height: 150px;
   margin-bottom: -4px;
   
}
.vacio {
  width: 100%;
  opacity: 20%;
  height: 50px;
  
}
.globoRecetas{
  width: 100%;
  height: auto;
  
}

.piePagina{
  width: 100%;
  background-color: black;
  height: 100px;
}
.pie1{
  color: rgb(255, 255, 255);
}

@media  screen and (max-width:700px) {

  .receta{
    width: 100%;
  } 
  
  .tituloReceta{
    width: 85%;
  }
  .contenido{
    width: 100%;
    font-size: 9px;
   } 
  .imagenes2{
    width: 85%;
    height: auto;
  } 
  .casita{ 
    width: 20%;
  }
  .imagenfondo2{
     width: 50%;
    }
    .imagenlogo {
      width: 100%;
    }
    .encabezado1{
      width: 100%;
    }
   .tablones2 {
    width: 100%;
  } 
  .cuerditas2{
    width: 100%;
  }
  .ingresaryregistrar{
    width: 28%;
  }
  .imagenlogo{
    width: 100%;
  }
  .barrainicio{
    width: 10%;
  }
  .iniciohorizontal{
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
  .menu-vertical{
    width: 10%;
  }
  .ingredientes-barra{
    width: 10%;
  }
  .autores{
    width: 10%;
  }
  .vacio{
    width: 100%;
  }
  .imagenfondo2{
    width: 8%;
    margin: 0px;
  }
  .encabezadoRecetario{
    width: 100%;
  }
  .backgroundimage2{
    width: 100%;
  }
 
}
@media  screen and (max-width:800px) {

  .receta{
    width: 100%;
  } 
  
  .tituloReceta{
    width: 85%;
  }
  .contenido{
    width: 100%;
    font-size: 9px;
   } 
  .imagenes2{
    width: 85%;
    height: auto;
  } 
  .casita{ 
    width: 10%;
  }
  .imagenfondo2{
     width: 60%;
     margin: 0px auto;
    }
    .imagenlogo {
      width: 100%;
    }
    .encabezado1{
      width: 100%;
    }
   .tablones2 {
    width: 100%;
  } 
  .cuerditas2{
    width: 100%;
  }
  .ingresaryregistrar{
    width: 28%;
  }
  .imagenlogo{
    width: 100%;
  }
  .barrainicio{
    width: 10%;
  }
  .iniciohorizontal{
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
  .menu-vertical{
    width: 10%;
  }
  .ingredientes-barra{
    width: 10%;
  }
  .autores{
    width: 10%;
  }
  .vacio{
    width: 100%;
  }
  .imagenfondo2{
    width: 100%;
  }
  .encabezadoRecetario{
    width: 100%;
  }
  .backgroundimage2{
    width: 100%;
  }
 
}
@media  screen and (max-width:950px) {

  .receta{
    width: 100%;
  } 
  
  .tituloReceta{
    width: 85%;
  }
  .contenido{
    width: 100%;
    font-size: 9px;
   } 
  .imagenes2{
    width: 85%;
    height: auto;
  } 
  .casita{ 
    width: 10%;
  }
  .imagenfondo2{
    width: 60%;
    margin: 0px auto;
    }
    .imagenlogo {
      width: 100%;
    }
    .encabezado1{
      width: 100%;
    }
   .tablones2 {
    width: 100%;
  } 
  .cuerditas2{
    width: 100%;
  }
  .ingresaryregistrar{
    width: 28%;
  }
  .imagenlogo{
    width: 100%;
  }
  .barrainicio{
    width: 10%;
  }
  .iniciohorizontal{
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
  .menu-vertical{
    width: 10%;
  }
  .ingredientes-barra{
    width: 10%;
  }
  .autores{
    width: 10%;
  }
  .vacio{
    width: 100%;
  }
  .imagenfondo2{
    width: 100%;
  }
  .encabezadoRecetario{
    width: 100%;
  }
  .backgroundimage2{
    width: 100%;
  }
 
}
